---
import Layout from "../layouts/Layout.astro";
---

<Layout />

<section>
  <div class="fold-ud">
    <h2>Hvad tilbyder vi?</h2>
    <div class="fold-ud-item">
      <div class="fold-ud-question">Cirkulær vejledning</div>
      <div class="fold-ud-answer">
        Sidder du med et projekt/eller forløb, hvor I skal tænke cirkulært? Er
        du i tvivl om, hvordan du designer dine produkter, så de er optimeret
        til cirkulære forretningsmodeller? Så kom ned i labbet og få råd og
        vejledning til dit projekt. <br /> Vi hjælper både med materialer, design,
        forretningsmodeller, strategier og alt der skal til for at skabe den bedste
        cirkularitet - er du i tvivl om vi kan hjælpe med netop din udfordring, så
        kom forbi og lad os undersøge det sammen. <br /> Vejledning i labbet er muligt
        i de bemandede åbningstider <strong>(se kalender)</strong> eller send en
        mail til lab manager Nikolaj Storm på <strong>circular@kea.dk</strong> og
        book en tid.
      </div>
    </div>
    <div class="fold-ud-item">
      <div class="fold-ud-question">Cirkulært iværksætteri</div>
      <div class="fold-ud-answer">
        Sidder du med et projekt/eller forløb, hvor I skal tænke cirkulært? Er
        du i tvivl om, hvordan du designer dine produkter, så de er optimeret
        til cirkulære forretningsmodeller? Så kom ned i labbet og få råd og
        vejledning til dit projekt. <br /> Vi hjælper både med materialer, design,
        forretningsmodeller, strategier og alt der skal til for at skabe den bedste
        cirkularitet - er du i tvivl om vi kan hjælpe med netop din udfordring, så
        kom forbi og lad os undersøge det sammen. <br /> Vejledning i labbet er muligt
        i de bemandede åbningstider <strong>(se kalender)</strong> eller send en
        mail til lab manager Nikolaj Storm på <strong>circular@kea.dk</strong> og
        book en tid.
      </div>
    </div>
    <div class="fold-ud-item">
      <div class="fold-ud-question">Cirkulære workshops</div>
      <div class="fold-ud-answer">
        Sidder du med et projekt/eller forløb, hvor I skal tænke cirkulært? Er
        du i tvivl om, hvordan du designer dine produkter, så de er optimeret
        til cirkulære forretningsmodeller? Så kom ned i labbet og få råd og
        vejledning til dit projekt. <br /> Vi hjælper både med materialer, design,
        forretningsmodeller, strategier og alt der skal til for at skabe den bedste
        cirkularitet - er du i tvivl om vi kan hjælpe med netop din udfordring, så
        kom forbi og lad os undersøge det sammen. <br /> Vejledning i labbet er muligt
        i de bemandede åbningstider <strong>(se kalender)</strong> eller send en
        mail til lab manager Nikolaj Storm på <strong>circular@kea.dk</strong> og
        book en tid.
      </div>
    </div>
    <div class="fold-ud-item">
      <div class="fold-ud-question">Adgang til nyeste forskning</div>
      <div class="fold-ud-answer">
        Sidder du med et projekt/eller forløb, hvor I skal tænke cirkulært? Er
        du i tvivl om, hvordan du designer dine produkter, så de er optimeret
        til cirkulære forretningsmodeller? Så kom ned i labbet og få råd og
        vejledning til dit projekt. <br /> Vi hjælper både med materialer, design,
        forretningsmodeller, strategier og alt der skal til for at skabe den bedste
        cirkularitet - er du i tvivl om vi kan hjælpe med netop din udfordring, så
        kom forbi og lad os undersøge det sammen. <br /> Vejledning i labbet er muligt
        i de bemandede åbningstider <strong>(se kalender)</strong> eller send en
        mail til lab manager Nikolaj Storm på <strong>circular@kea.dk</strong> og
        book en tid.
      </div>
    </div>
    <div class="fold-ud-item">
      <div class="fold-ud-question">Cirkulære foredrag</div>
      <div class="fold-ud-answer">
        Sidder du med et projekt/eller forløb, hvor I skal tænke cirkulært? Er
        du i tvivl om, hvordan du designer dine produkter, så de er optimeret
        til cirkulære forretningsmodeller? Så kom ned i labbet og få råd og
        vejledning til dit projekt. <br /> Vi hjælper både med materialer, design,
        forretningsmodeller, strategier og alt der skal til for at skabe den bedste
        cirkularitet - er du i tvivl om vi kan hjælpe med netop din udfordring, så
        kom forbi og lad os undersøge det sammen. <br /> Vejledning i labbet er muligt
        i de bemandede åbningstider <strong>(se kalender)</strong> eller send en
        mail til lab manager Nikolaj Storm på <strong>circular@kea.dk</strong> og
        book en tid.
      </div>
    </div>
    <div class="fold-ud-item">
      <div class="fold-ud-question">Circular skills</div>
      <div class="fold-ud-answer">
        Sidder du med et projekt/eller forløb, hvor I skal tænke cirkulært? Er
        du i tvivl om, hvordan du designer dine produkter, så de er optimeret
        til cirkulære forretningsmodeller? Så kom ned i labbet og få råd og
        vejledning til dit projekt. <br /> Vi hjælper både med materialer, design,
        forretningsmodeller, strategier og alt der skal til for at skabe den bedste
        cirkularitet - er du i tvivl om vi kan hjælpe med netop din udfordring, så
        kom forbi og lad os undersøge det sammen. <br /> Vejledning i labbet er muligt
        i de bemandede åbningstider <strong>(se kalender)</strong> eller send en
        mail til lab manager Nikolaj Storm på <strong>circular@kea.dk</strong> og
        book en tid.
      </div>
    </div>
    <div>
      Har du/I allerede nu spørgsmål omkring cirkularitet, eller har du/I jeres
      eget cirkulære tiltag, I ønsker at teste af i labbet eller har du/I input
      til aktiviteter i labbet, kan du/I altid kontakte os på <strong
        >circular@kea.dk</strong
      >
    </div>
  </div>
</section>

<style>
  section {
    padding-bottom: 80px;
    background-color: #ffffff;);
  }
  .fold-ud {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 0 20px;
  }

  .fold-ud-item {
    min-width: 400px;
    max-width: 1200px;
  }

  .fold-ud-question {
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    cursor: pointer;
    font-weight: bold;
    margin: 0 0 20px 0;
  }

  .fold-ud-question:hover {
    color: #ec6501;
  }

  .fold-ud-answer {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition:
      max-height 0.5s ease-out,
      opacity 0.5s ease-out;
    line-height: 1.5rem;
  }

  .fold-ud-answer.active {
    max-height: 1000px; /* eller brug scrollHeight dynamisk i JS */
    opacity: 1;
    margin-bottom: 30px;
  }

  br {
    margin-bottom: 15px;
  }

  p strong {
    font-weight: bold;
  }

  @media (min-width: 800px) {
    .fold-ud {
      margin: 20px 400px 0 150px;
    }
  }
</style>

<script>
  document.querySelectorAll(".fold-ud-question").forEach(function (question) {
    question.addEventListener("click", function () {
      const answer = question.nextElementSibling;

      if (!answer) return;

      document.querySelectorAll(".fold-ud-answer").forEach(function (ans) {
        if (ans !== answer) {
          ans.classList.remove("active");
        }
      });

      answer.classList.toggle("active");
    });
  });
</script>
