---
import Layout from "../layouts/Layout.astro";
---

<Layout />

<section>
  <div class="fold-ud">
    <h2>Hvad tilbyder vi?</h2>
    <div class="fold-ud-item">
      <div class="fold-ud-question">Cirkulær vejledning</div>
      <div class="fold-ud-answer">
        Sidder du med et projekt/eller forløb, hvor I skal tænke cirkulært? Er
        du i tvivl om, hvordan du designer dine produkter, så de er optimeret
        til cirkulære forretningsmodeller? Så kom ned i labbet og få råd og
        vejledning til dit projekt. <br /> Vi hjælper både med materialer, design,
        forretningsmodeller, strategier og alt der skal til for at skabe den bedste
        cirkularitet - er du i tvivl om vi kan hjælpe med netop din udfordring, så
        kom forbi og lad os undersøge det sammen. <br /> Vejledning i labbet er muligt
        i de bemandede åbningstider <strong>(se kalender)</strong> eller send en
        mail til lab manager Nikolaj Storm på <strong>circular@kea.dk</strong> og
        book en tid.
      </div>
    </div>
    <div class="fold-ud-item">
      <div class="fold-ud-question">Cirkulært iværksætteri</div>
      <div class="fold-ud-answer">
        Er du iværksætter med din egen virksomhed, eller en del af KEAs Startup
        Hub, og ønsker at undersøge mulighederne for at gøre din virksomhed
        cirkulær i tråd med ny lovgivning - så book en coaching med Cirkulær lab
        manager Nikolaj Storm <strong>(circular@kea.dk).</strong>
        <br />
        Sammen kan vi analysere virksomheden og du kan få værktøjer og indsigter
        i, hvordan du kan planlægge din cirkulære transition på sigt.
      </div>
    </div>
    <div class="fold-ud-item">
      <div class="fold-ud-question">Cirkulære workshops</div>
      <div class="fold-ud-answer">
        Er du underviser og har brug for et cirkulært indspark i et forløb eller
        crash course for dine studerende uanset programområde? Er I en gruppe
        studerende, der ønsker at øge jeres kendskab til cirkularitet og
        cirkulære forretningsmodeller? Så har vi mulighederne til jer. <br /> Circular
        Lab har forskellige workshops baseret på materiale fra Regndans, Ellen McArthur
        Foundation og Dansk Design Center. Vi kan facilitere workshops inden for
        mange forskellige områder tilknyttet cirkularitet og vi kan skræddersy workshops
        og foredrag specielt til jeres undervisning/programområde - så både studerende
        og undervisere bliver klædt godt på til en cirkulær fremtid.
      </div>
    </div>
    <div class="fold-ud-item">
      <div class="fold-ud-question">Adgang til nyeste forskning</div>
      <div class="fold-ud-answer">
        Hos Circular Lab holder vi os opdaterede på den nyeste forskning inden
        for cirkularitet. Mange virksomheder og brancher er netop i gang med at
        implementere forskellige cirkulære forretningsmodeller, og vi følger med
        for at kunne guide jer til de bedste løsninger netop nu.
        <br />
        Så har du brug for den nyeste viden eller savner du noget forskning netop
        indenfor dit felt? Så kom forbi labbet og hør nærmere.
      </div>
    </div>
    <div class="fold-ud-item">
      <div class="fold-ud-question">Cirkulære foredrag</div>
      <div class="fold-ud-answer">
        Der sker rigtig meget inden for cirkularitet netop nu. Derfor holder vi
        også løbende foredrag og events med relevante aktører fra brancherne, så
        både studerende og medarbejdere kan få et indblik i, hvordan vi arbejder
        med cirkularitet i praksis. Bliv inspireret på tværs af brancher - sådan
        kan vi få nye ideer og skabe nye sammenhænge til flere cirkulære
        modeller. <br /> Har du en spændende tale,r du gerne vil have forbi? Så kom
        forbi og snak med os i labbet og lad os se, hvad vi kan gøre.
        <br />
        <strong> Hold dig opdateret i kalenderen</strong> for kommende foredrag i
        labbet.
      </div>
    </div>
    <div class="fold-ud-item">
      <div class="fold-ud-question">Circular skills</div>
      <div class="fold-ud-answer">
        Cirkularitet handler om nye forretningsmuligheder - men kræver også
        mange værktøjer som reparation, opgraderinger, redesigns og meget mere.
        Vi afholder løbende workshops med forskellige temaer, hvor vi træner
        cirkulære skills.
        <br />
        Vores workshops er åbne for alle og derfor også en mulighed for at udvide
        dit cirkulære netværk, men også at få tilegnet nye færdigheder, der måske
        ligger uden for dit programområde.
        <br />
        <strong>Hold dig opdateret i kalenderen</strong> med de nyeste events i den
        kommende fremtid.
      </div>
    </div>
    <div>
      Har du/I allerede nu spørgsmål omkring cirkularitet, eller har du/I jeres
      eget cirkulære tiltag, I ønsker at teste af i labbet eller har du/I input
      til aktiviteter i labbet, kan du/I altid kontakte os på <strong
        >circular@kea.dk</strong
      >
    </div>
  </div>
</section>

<style>
  section {
    padding-bottom: 80px;
    background-color: #ffffff;
  }

  div {
    line-height: 1.5rem;
  }
  h2 {
    font-size: 30px;
  }
  .fold-ud {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 0 20px;
  }

  .fold-ud-item {
    min-width: 400px;
    max-width: 1200px;
  }

  .fold-ud-question {
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    cursor: pointer;
    font-weight: bold;
    margin: 0 0 20px 0;
    font-size: 15px;
  }

  .fold-ud-question:hover {
    color: #ec6501;
  }

  .fold-ud-answer {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition:
      max-height 0.5s ease-out,
      opacity 0.5s ease-out;
    line-height: 1.5rem;
    font-size: 15px;
  }

  .fold-ud-answer.active {
    max-height: 1000px; /* eller brug scrollHeight dynamisk i JS */
    opacity: 1;
    margin-bottom: 30px;
  }

  br {
    margin-bottom: 15px;
  }

  p strong {
    font-weight: bold;
  }

  @media (min-width: 800px) {
    .fold-ud {
      margin: 20px 400px 0 150px;
    }
  }
</style>

<script>
  document.querySelectorAll(".fold-ud-question").forEach(function (question) {
    question.addEventListener("click", function () {
      const answer = question.nextElementSibling;

      if (!answer) return;

      document.querySelectorAll(".fold-ud-answer").forEach(function (ans) {
        if (ans !== answer) {
          ans.classList.remove("active");
        }
      });

      answer.classList.toggle("active");
    });
  });
</script>
