<section>
  <img src="/public/img/herowebp.webp" alt="hero billede fra circular lab" />
  <p>
    Forside / Studieliv og Faciliteter / Labs / Circular Labs / Circular Lab
  </p>
</section>

<style>
  img {
    width: 100%;
    height: auto;
  }

  section {
    background-color: #ededed;
    padding-bottom: 7px;
  }

  p {
    font-family: "Roboto", sans-serif;
    color: #233249;
    padding-left: 20px;
    font-weight: 500;
    font-size: 15px;
  }
</style>
