---
import Layout from "../layouts/Layout.astro";
---

<Layout />

<section>
  <div class="kontakt">
    <div>
      <h3>Kontakt</h3>
      <img src="" alt="billede af nikolaj" />
    </div>

    <div>
      <p class="bold">Nikolaj Storm Hauge Tost</p>
      <p class="lighter">Email: nito@kea.dk</p>
    </div>
  </div>

  <div class="instagram">
    <h3>Følg os på Instagram</h3>
    <div>
      <img src="" alt="logo" />
      <a href="https://www.instagram.com/kea_circularlab/?hl=da"
        >@kea.circularlab</a
      >
    </div>
  </div>
</section>

<style>
  section {
    background-color: #ededed;
    padding: 40px;
    gap: 40px;
  }

  h3,
  p,
  a,
  img {
    font-family: Helvetica, sans-serif;
    color: #233249;
    text-decoration: none;
  }

  .bold {
    font-weight: bold;
  }
  .light {
    font-weight: lighter;
  }

  @media (min-width: 800px) {
    section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    .kontakt {
      padding-left: 200px;
    }
    .instagram {
      padding-right: 250px;
    }
  }
</style>
