---
import Layout from "../layouts/Layout.astro";
---

<Layout />
<div><a href="https://www.arla.dk/opskrifter/cookies/">Læs mere</a></div>

<style>
  a {
    position: absolute;
    background-color: #233249;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    padding: 8px;
    height: 20px;
    width: 90px;
    text-decoration: none;
    bottom: -18px;
  }
  div {
    display: flex;
    justify-content: right;
    padding-right: 15px;
  }
</style>
